html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #32313b;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eee;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#108f69), to(#0c5c44));
  background-image: linear-gradient(#108f69, #0c5c44);
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 4rem;
  cursor: pointer;
  height: 100%;
  border-radius: 4px;
  border: 0;
  color: inherit;
}

.modal-background {
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
  cursor: pointer;
}

.modal-background.visible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-background .modal-window {
  background-color: #860b30;
  border-radius: 4px;
  padding: 1rem;
  max-width: 70%;
  font-size: 1.2rem;
  cursor: default;
}

.modal-background .modal-window form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal-background .modal-window form > *:not([type="hidden"]) {
  display: block;
  margin: .5rem 0;
  max-width: 100%;
}

.modal-background .modal-window form input[type="text"] {
  text-align: center;
  border: 0;
  border-radius: 4px;
  padding: .5rem 1rem;
  font-size: 1rem;
  outline: none;
}

.modal-background .modal-window form label {
  width: 100%;
  border: 2px solid #ceb10f;
  border-radius: 4px;
  padding: .3rem 1rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.modal-background .modal-window form input[type="submit"] {
  padding: 1rem 3rem;
}

header {
  --header-height: 3.5rem;
  width: 100%;
  height: var(--header-height);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#9e1941), to(#861336));
  background-image: linear-gradient(#9e1941, #861336);
  -webkit-box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .user {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 1rem;
}

header .user img {
  border-radius: 50%;
  margin-right: 10px;
  width: 2.8rem;
  height: 2.8rem;
}

header .user p {
  font-size: 1.3rem;
}

header .balance {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: rgba(48, 134, 11, 0.7);
  -webkit-transition: background .1s;
  transition: background .1s;
  padding: 0 2rem;
  height: 100%;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

header .balance b {
  -webkit-transition: all .1s;
  transition: all .1s;
}

header .balance p {
  font-size: .8rem;
  -webkit-transition: all .1s;
  transition: all .1s;
}

header .balance:hover {
  background-color: rgba(61, 168, 14, 0.7);
}

header .balance:hover b {
  opacity: 0;
}

header .balance:hover p {
  margin-bottom: calc(var(--header-height) / 3);
  font-size: 1rem;
}

header.logged-in {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header.logged-in .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.logged-in .balance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.logged-in .button {
  display: none;
}

main {
  padding: 2rem;
}

main > div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .card {
  background-color: #860b30;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  min-width: 41%;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-width: 45%;
  margin: 10px 0;
}

main .card .card-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 5px;
  background-color: #620823;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 12px -5px rgba(0, 0, 0, 0.5);
}

main .card .card-heading b {
  padding-right: 5px;
}

main .card .card-heading p {
  font-size: .8rem;
  padding-left: 5px;
}

main .card .card-items {
  padding: 10px;
}

main .card .card-items ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-y: auto;
}

main .card .card-items ul .inv-item {
  width: 110px;
  height: 110px;
  border: 2px solid #ceb10f;
  cursor: pointer;
  margin: 5px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .card .card-items ul .inv-item img {
  max-width: 100%;
  max-height: 100%;
}

main .card .card-items ul .inv-item .how-much-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 2px 4px;
  background-color: #e43f70;
}

main .card .card-items ul .inv-item .price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 4px;
  font-size: .8rem;
  background-color: rgba(2, 162, 58, 0.65);
  text-align: center;
  width: 50%;
}

main .card .card-items ul .inv-item .controls {
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .card .card-items ul .inv-item .controls div {
  padding: 0;
  width: 25%;
  border-radius: 0;
  font-size: 1rem;
}

main .card .card-items ul .inv-item .controls input {
  width: 50%;
  padding: 0;
  border: 0;
  text-align: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

main .card .card-items ul .inv-item .quantity {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px 4px;
  position: absolute;
  top: 0;
  left: 0;
}

main .card .card-items > p {
  display: none;
  padding: 20px 0;
  width: 100%;
  text-align: center;
}

main .card .card-items.empty > p {
  display: block;
}

main .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-width: 12%;
}

main .center .distinction {
  text-align: center;
}

main .center .submit {
  display: block;
  font-size: 1rem;
  padding: 20px 40px;
  width: 100%;
}

main .center .submit.inactive {
  cursor: not-allowed;
  opacity: .6;
}

footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
  overflow: hidden;
  padding: 5px 0 5px 20px;
  background-color: #0f0f0f;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media all and (max-width: 992px) {
  .modal-background {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .modal-background .modal-window {
    margin-top: 2rem;
  }
  header .balance {
    font-size: .9rem;
    padding: 0 .5rem;
    margin-left: .5rem;
  }
  main > div .card {
    min-width: 100%;
  }
  main > div .center {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 10px auto;
    width: 100%;
  }
  main > div .center .distinction {
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=main.css.map */