html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #e7e7e7;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  font-size: 1rem;
}

.hidden {
  display: none;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color:#108f69;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 0 4rem;
  cursor: pointer;
  height: 100%;
  border-radius: 4px;
  border: 0;
  color: inherit;
}

.modal-background {
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: none;
  z-index: 9;
  cursor: pointer;

  &.visible {
    display: flex;
  }

  .modal-window {
    background-color: #1e8ec2;
    border-radius: 4px;
    padding: 1rem;
    max-width: 70%;
    font-size: 1.2rem;
    cursor: default;

    form {
      display: flex;
      flex-direction: column;
      align-items: center;

      & > *:not([type="hidden"]) {
        display: block;
        margin: .5rem 0;
        max-width: 100%;
      }

      input[type="text"] {
        text-align: center;
        border: 0;
        border-radius: 4px;
        padding: .5rem 1rem;
        font-size: 1rem;
        outline: none;
      }

      label {
        width: 100%;
        border: 2px solid #0a53a7;
        border-radius: 4px;
        padding: .3rem 1rem;
        box-sizing: border-box;
        cursor: pointer;
      }

      input[type="submit"] {
        padding: 1rem 3rem;
      }
    }
  }
}

header {
  --header-height: 3.5rem;

  width: 100%;
  height: var(--header-height);
  background-color:#0d85bd;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, .5);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 2rem;

  .user {
    display: none;
    align-items: center;
    padding-left: 1rem;

    img {
      border-radius: 50%;
      margin-right: 10px;
      width: 2.8rem;
      height: 2.8rem;
    }

    p {
      font-size: 1.3rem;
    }
  }

  .balance {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(48, 134, 11, .7);
    transition: background .1s;
    padding: 0 2rem;
    height: 100%;
    border-radius: 4px;
    font-size: 1.2rem;
    cursor: pointer;

    b {
      transition: all .1s;
    }

    p {
      font-size: .8rem;
      transition: all .1s;
    }

    &:hover {
      background-color: rgba(61, 168, 14, .7);

      b {
        opacity: 0;
      }

      p {
        margin-bottom: calc(var(--header-height) / 3);
        font-size: 1rem;
      }
    }
  }

  &.logged-in {
    justify-content: space-between;

    .user {
      display: flex;
    }

    .balance {
      display: flex;
    }

    .button {
      display: none;
    }
  }
}

.notification {
  border-radius: 4px;
  padding: 15px;
  padding-right: 25px;
  width: fit-content;
  max-width: 50%;
  margin: 1rem auto;
  position: relative;

  button {
    appearance: none;
    border: none;
    padding: 6px;
    background-color: transparent;
    color: #000;

    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
  }

  &.green {
    border: 1px solid rgba(75, 236, 88, .7);
    background-color: rgba(75, 236, 88, .5);
    color: darken(rgb(75, 236, 88), 25);
  }

  &.yellow {
    border: 1px solid rgba(212, 236, 75, .7);
    background-color: rgba(212, 236, 75, .5);
    color: darken(rgb(212, 236, 75), 25);
  }

  &.red {
    border: 1px solid rgba(236, 86, 75, .7);
    background-color: rgba(236, 86, 75, .5);
    color: darken(rgb(236, 86, 75), 25);
  }
}

main {
  padding: 2rem;

  & > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    flex-wrap: wrap;
  }

  .card {
    background-color: #1e8ec2;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    min-width: 41%;
    width: 100%;
    flex: 0 0 40%;
    max-width: 45%;
    margin: 10px 0;

    .card-heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 5px;
      background-color: #166f99;
      border-radius: 4px 4px 0 0;
      box-shadow: 0 2px 12px -5px rgba(0, 0, 0, .5);

      b {
        padding-right: 5px;
      }

      p {
        font-size: .8rem;
        padding-left: 5px;
      }
    }

    .card-items {
      padding: 10px;

      ul {
        display: flex;
        flex-wrap: wrap;
        overflow-y: auto;

        .inv-item {
          width: 110px;
          height: 110px;
          border: 2px solid #0a53a7;
          cursor: pointer;
          margin: 5px;
          position: relative;
          user-select: none;

          &.inactive {
            filter: grayscale(1);
            opacity: .6;
          }

          img {
            max-width: 100%;
            max-height: 100%;
          }

          .how-much-left {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px 4px;
            background-color: #15a1e2;
          }

          .price {
            position: absolute;
            top: 0;
            right: 0;
            padding: 2px 4px;
            font-size: .8rem;
            background-color: rgba(2, 162, 58, .65);
            text-align: center;
            width: 50%;
          }

          .controls {
            position: absolute;
            width: 100%;
            height: 20%;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;

            div {
              padding: 0;
              width: 25%;
              border-radius: 0;
              font-size: 1rem;
            }

            input {
              width: 50%;
              padding: 0;
              border: 0;
              text-align: center;
              appearance: none;
              outline: none;
            }
          }

  
          .quantity {
            background-color: rgba(255, 255, 255, .5);
            padding: 2px 4px;
            position: absolute;
            top: 0;
            left: 0;
          }
        }
      }


      & > p {
        display: none;
        padding: 20px 0;
        width: 100%;
        text-align: center;
      }

      &.empty > p {
        display: block;
      }
    }
  }

  .center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-width: 12%;

    .distinction {
      text-align: center;
      color: #000;
    }

    .submit {
      display: block;
      font-size: 1rem;
      padding: 20px 40px;
      width: 100%;

      &.inactive {
        cursor: default;
        opacity: .6;
        filter: grayscale(1);
      }
    }
  }
}

footer {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  bottom: 0;
  height: 2rem;
  width: 100%;
  overflow: hidden;
  padding: 5px 0 5px 20px;
  background-color: #0f0f0f;
  box-sizing: border-box;
}

@media all and (max-width: 992px) {
  .modal-background {
    align-items: flex-start;

    .modal-window {
      margin-top: 2rem;
    }
  }

  header .balance {
    font-size: .9rem;
    padding: 0 .5rem;
    margin-left: .5rem;
  }

  .notification {
    max-width: none;
    margin: 1rem 2rem;
  }

  main > div {
    .card {
       min-width: 100%;
    }

    .center {
      order: 3;
      margin: 10px auto;
      width: 100%;

      .distinction {
        margin-bottom: 1rem;
      }
    }
  }
}